<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamish</title>
</head>
<body>
    <h2><%= user[0].Nombre%></h2>
    <h3><%= user[0].correo%></h3>
    
</body>
</html>