<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intengo</title>
</head>
<body>
    <h1>Bienvenido a Gamish</h1>

    <form method="POST" action="/logIn">
        <label for="correo">Correo:</label>
        <input type="text" name="correo" id="correo"> <br>

        <label for="contrase単a">Contrase単a:</label>
        <input type="password" name="contrase単a" id="contrase単a"> <br>
        <input type="submit" value="Enviar">
    </form>
    <p>No te has regitrado? <a href="/registroUsuario">Resistrate</a></p>
</body>
</html>