<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos</title>
</head>
<body>
    <form action="/insertar" method="POST">
        Nombre <input type="text" name="nombre" id="nombre">
        Costo: <input type="number" name="costo" id="costo">
        Compa単ia: <input type="tex" name="compa単ia" id="compa単ia">
        Plataformas: <input type="text" name="plataformas" id="plataformas">
        categoria: <input type="text" name="categoria" id="categoria">
        descripcion: <input type="text" name="descripcion" id="descripcion">
    
        <input type="submit" value="A単adir">
    </form>
</body>
</html>