<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos</title>
</head>
<body>
    <h1 style="text-align: center;">Juegos</h1>
    <ul>
        <% juegos.forEach(function(o){ %>
            <li><%= o.nombre %> ----> <%= o.costo %></li>    
        <% }); %> 
    </ul>
</body>
</html>